.odd {
    background-color:rgb(241, 162, 142);
    font-family:Verdana, "dejaVu Sans", sans-serif
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color:rgb(12, 12, 223);
    font-size: 36px;
}

#four {
    background-color:rgb(118, 212, 118);
    font-weight:bold;
}