p {
    background-color:rgb(241, 162, 142);
    font-family:Verdana, dejaVu Sans, sans-serif
}
div1 {
    color:rgb(12, 12, 223);
    font-size: 36px;
}
div2 {
    background-color:rgb(118, 212, 118);
    font: size 24px;
    font-weight:bold;
}